# =========================
# ENVIRONMENT VARIABLES
# =========================
.env
.env.*
*.env

# =========================
# PYTHON CACHE
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# PYTHON VIRTUAL ENV
# =========================
venv/
env/
ENV/
.venv/

# =========================
# LOG FILES
# =========================
*.log

# =========================
# DATABASE FILES
# =========================
*.sqlite3
*.db

# =========================
# VS CODE
# =========================
.vscode/

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# BUILD FILES
# =========================
build/
dist/
*.egg-info/

# =========================
# TEMP FILES
# =========================
*.tmp
*.temp

# =========================
# NODE (caso use frontend depois)
# =========================
node_modules/

# =========================
# CACHE
# =========================
.cache/

# =========================
# TEST CACHE
# =========================
.pytest_cache/

# =========================
# JUPYTER
# =========================
.ipynb_checkpoints/